openapi: 3.0.0
info:
  description: |
    Applicacion REST API de Delilah Resto 
  version: 1.0.0-oas3
  title: Delilah Resto
  contact:
    name: Daniel Rodriguez
    email: darodweb@gmail.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: http://delilahresto.com
tags:
  - name: usuarios
  - name: pedidos
  - name: productos
paths:
  /usuarios:
    get:
      description: Obtiene un listado de usuarios
      tags:
      - usuarios
      responses:
        200:
          description: Resultado satisfactorio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/usuarios'
  /usuario/{id}:
    get:
      description: Obtiene un usuario por ID
      tags:
      - usuarios
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
      responses:
        200:
          description: Respuesta satisfactoria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/usuario'
  /usuario:              
    post:
      description: Operacion para crear un nuevo usuario.
      tags:
      - usuarios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Nombre:
                  type: string
                Apellido:
                  type: string
                Correo Electronico:
                  type: string
                Telefono:
                  type: integer
                Direccion de Envio:
                  type: string
                Username:
                  type: string
                Password:
                  type: string
      responses:
        201:
          description: Usuario creado satisfactoriamente.
    put:
      description: Operacion para modificar un usuario existente.
      tags:
      - usuarios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ID:
                  type: integer
                Nombre:
                  type: string
                Apellido:
                  type: string
                Correo Electronico:
                  type: string
                Telefono:
                  type: integer
                Direccion de Envio:
                  type: string
      responses:
        201:
          description: Usuario modificado satisfactoriamente.
  /pedidos:
    get:
      description: Obtiene un listado de pedidos
      parameters:
        - in: header
          name: token
          required: true
          description: Unico para usuarios administradores
          schema:
            type: string
      tags:
      - pedidos
      responses:
        200:
          description: Resultado satisfactorio
        400:
          description: Error al conectarse con la base de datos.
        401:
          description: No tiene permisos para realizar esta consulta.
      produces:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: integer
                description: Id del pedido
              Estado:
                type: string
              Hora:
                type: string
              Numero:
                type: string
              Descripcion:
                type: string
                description: Detalle del pedido
              Total:
                type: integer
              Usuario_id:
                type: string
              Forma de pago:
                type: integer
                descripcion: Codigo de la forma de pago.
              Direccion:
                type: string
        
  /pedido:
    post:
      description: Crea un nuevo pedido.
      tags:
      - pedidos
      parameters:
        - in: header
          name: token
          required: true
          description: Indentificador unico
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                forma_de_pago:
                  example: 1
                  type: integer
                  description: efectivo = 1, tarjeta de debito = 2, tarjeta de credito = 3
                producto:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      descripcion:
                        type: string
                        example: Hamburguesa Doble
                      cantidad:
                        type: integer
                total:
                  type: integer
                  example: 850
                direccion:
                  type: string
                  example: "Casa 1 entre calles 1 y 2"
      responses:
        201:
          description: Pedido creado satisfactoriamente.
    put:
      description: Pedido modificado satisfactoriamente.
      tags:
      - pedidos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Articulos:
                  type: array
                  items:
                    properties:
                      ID:
                        type: integer
                      Descripcion:
                        type: string
                      Precio:
                        type: integer
                      Cantidad:
                        type: integer
                Total:
                  type: integer
                Estado:
                  type: string
                Forma de Pago:
                  type: string
                Direccion:
                  type: string
                Usuario:
                  type: string
                Correo Electronico:
                  type: string
                Telefono:
                  type: integer
      responses:
        201:
          description: Pedido modificado satisfactoriamente.
  /producto/{id}:
    get:
      description: Obtiene el detalle de un producto
      tags:
      - productos
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        200:
          description: Resultado satisfactorio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/producto' 
  /productos:
    get:
      description: Obtiene un listado de productos
      tags:
      - productos
      responses:
        200:
          description: Consulta satisfactoria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productos' 
  /producto:
    post:
      description: Crea un nuevo producto
      tags:
      - productos
      requestBody:
        required: true
        content:
          appication/json:
            schema:
              type: object
              properties:
                Descripcion:
                  type: string
                Foto: 
                  type: string
                Precio:
                  type: integer
      responses:
        200:
          description: Articulo creado satisfactoriamente
    put:
      description: Modifica un producto existente
      tags:
      - productos
      requestBody:
        required: true
        content:
          appication/json:
            schema:
              type: object
              properties:
                ID:
                  type: integer
                Descripcion:
                  type: string
                Foto: 
                  type: string
                Precio:
                  type: integer
      responses:
        200:
          description: Articulo modificado satisfactoriamente
  /pedido/{id}:
    get:
      description: Obtiene un pedido por ID
      tags:
      - pedidos
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
      responses:
        200:
          description: Respuesta satisfactoria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pedido'         
components:
  schemas:
    usuario:
      type: object
      properties:
        ID:
          type: integer
        Nombre:
          type: string
        Apellido:
          type: string
        Correo Electronico:
          type: string
        Telefono:
          type: integer
        Direccion de Envio:
          type: string
        Rol:
          type: string
    usuarios:
      type: array
      items:
        properties:
          ID:
            type: integer
          Nombre:
            type: string
          Apellido:
            type: string
          Correo Electronico:
            type: string
          Telefono:
            type: integer
          Direccion de Envio:
            type: string
          Rol:
            type: string
          Username:
            type: string
          Password:
            type: string
    pedido:
      type: object
      properties:
        ID:
          type: integer
        Articulos:
          type: array
          items:
            properties:
              Foto:
                type: string
              Descripcion:
                type: string
              Precio:
                type: integer
              Cantidad:
                type: integer
        Total:
          type: integer
        Estado:
          type: string
        Forma de Pago:
          type: string
        Direccion:
          type: string
        Usuario:
          type: string
        Correo Electronico:
          type: string
        Telefono:
          type: integer
    pedidos:
      type: array
      items:
        properties:
          ID:
            type: integer
          Estado:
            type: string
          Hora:
            type: string
          Numero:
            type: integer
          Descripcion:
            type: string
          Total:
            type: integer
          Usuario:
            type: string
          Direccion:
            type: string
    producto:
      type: object
      properties:
        ID:
          type: integer
        Foto:
          type: string
        Descripcion:
          type: string
        Precio:
          type: integer
    productos:
      type: array
      items:
        properties:
          ID:
            type: integer
          Foto:
            type: string
          Descripcion:
            type: string
          Precio:
            type: integer
