openapi: 3.0.0
info:
  description: |
    Applicacion REST API de Delilah Resto 
  version: 1.0.0-oas3
  title: Delilah Resto
  contact:
    name: Daniel Rodriguez
    email: darodweb@gmail.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: http://delilahresto.com
tags:
  - name: clientes
  - name: pedidos
  - name: productos
  - name: usuarios
  - name: login
paths:
  /clientes:
    get:
      description: Obtiene un listado de clientes
      tags:
      - clientes
      responses:
        200:
          description: Resultado satisfactorio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clientes'
  /cliente/{id}:
    get:
      description: Obtiene un cliente por ID
      tags:
      - clientes
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
      responses:
        200:
          description: Respuesta satisfactoria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cliente'
  /cliente:              
    post:
      description: Operacion para crear un nuevo cliente.
      tags:
      - clientes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Nombre:
                  type: string
                Apellido:
                  type: string
                Correo Electronico:
                  type: string
                Telefono:
                  type: integer
                Direccion de Envio:
                  type: string
      responses:
        201:
          description: Cliente creado satisfactoriamente.
    put:
      description: Operacion para modificar un cliente existente.
      tags:
      - clientes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ID:
                  type: integer
                Nombre:
                  type: string
                Apellido:
                  type: string
                Correo Electronico:
                  type: string
                Telefono:
                  type: integer
                Direccion de Envio:
                  type: string
      responses:
        201:
          description: Cliente modificado satisfactoriamente.
  /pedidos:
    get:
      description: Obtiene un listado de clientes
      tags:
      - pedidos
      responses:
        200:
          description: Resultado satisfactorio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pedidos'
  /pedido:
    post:
      description: Pedido creado satisfactoriamente.
      tags:
      - pedidos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Articulos:
                  type: array
                  items:
                    properties:
                      Descripcion:
                        type: string
                      Precio:
                        type: integer
                      Cantidad:
                        type: integer
                Total:
                  type: integer
                Estado:
                  type: string
                Forma de Pago:
                  type: string
                Direccion:
                  type: string
                Usuario:
                  type: string
                Correo Electronico:
                  type: string
                Telefono:
                  type: integer
      responses:
        201:
          description: Pedido creado satisfactoriamente.
    put:
      description: Pedido modificado satisfactoriamente.
      tags:
      - pedidos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Articulos:
                  type: array
                  items:
                    properties:
                      ID:
                        type: integer
                      Descripcion:
                        type: string
                      Precio:
                        type: integer
                      Cantidad:
                        type: integer
                Total:
                  type: integer
                Estado:
                  type: string
                Forma de Pago:
                  type: string
                Direccion:
                  type: string
                Usuario:
                  type: string
                Correo Electronico:
                  type: string
                Telefono:
                  type: integer
      responses:
        201:
          description: Pedido modificado satisfactoriamente.
  /producto/{id}:
    get:
      description: Obtiene el detalle de un producto
      tags:
      - productos
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        200:
          description: Resultado satisfactorio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/producto' 
    delete:
      description: Elimina un producto
      tags:
      - productos
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        200:
          description: Articulo borrado satisfactoriamente
  /productos:
    get:
      description: Obtiene un listado de productos
      tags:
      - productos
      responses:
        200:
          description: Consulta satisfactoria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/productos' 
  /producto:
    post:
      description: Crea un nuevo producto
      tags:
      - productos
      requestBody:
        required: true
        content:
          appication/json:
            schema:
              type: object
              properties:
                Descripcion:
                  type: string
                Foto: 
                  type: string
                Precio:
                  type: integer
      responses:
        200:
          description: Articulo creado satisfactoriamente

    put:
      description: Modifica un producto existente
      tags:
      - productos
      requestBody:
        required: true
        content:
          appication/json:
            schema:
              type: object
              properties:
                ID:
                  type: integer
                Descripcion:
                  type: string
                Foto: 
                  type: string
                Precio:
                  type: integer
      responses:
        200:
          description: Articulo modificado satisfactoriamente
  /pedido/{id}:
    get:
      description: Obtiene un pedido por ID
      tags:
      - pedidos
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int64
          minimum: 1
      responses:
        200:
          description: Respuesta satisfactoria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pedido'         
  /usuarios:   
    get:
      description: Obtiene un listado de usuarios
      tags:
      - usuarios
      responses:
        200:
          description: Resultado satisfactorio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/usuarios'
  /usuario:              
    post:
      description: Operacion para crear un nuevo usuario.
      tags:
      - usuarios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Nombre:
                  type: string
                Apellido:
                  type: string
                Correo Electronico:
                  type: string
                Username:
                  type: string
                Password:
                  type: string
                Telefono:
                  type: integer
                Rol:
                  type: string
      responses:
        201:
          description: Usuario creado satisfactoriamente.
    put:
      description: Operacion para modificar un usuario.
      tags:
      - usuarios
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ID:
                  type: integer
                Nombre:
                  type: string
                Apellido:
                  type: string
                Correo Electronico:
                  type: string
                Username:
                  type: string
                Password:
                  type: string
                Telefono:
                  type: integer
                Rol:
                  type: string
      responses:
        201:
          description: Usuario modificado satisfactoriamente.
  /usuario/{username}:   
    get:
      description: Obtiene un usuario por username
      tags:
      - usuarios
      parameters:
      - in: path
        name: username
        required: true
        schema:
          type: string
      responses:
        200:
          description: Resultado satisfactorio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/usuarios'
  /login:
    post:
      description: Login.
      tags:
      - login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Username:
                  type: string
                Password:
                  type: string
      responses:
        201:
          description: Inicio de sesion exitoso.
components:
  schemas:
    cliente:
      type: object
      properties:
        ID:
          type: integer
        Nombre:
          type: string
        Apellido:
          type: string
        Correo Electronico:
          type: string
        Telefono:
          type: integer
        Direccion de Envio:
          type: string
    clientes:
      type: array
      items:
        properties:
          ID:
            type: integer
          Nombre:
            type: string
          Apellido:
            type: string
          Correo Electronico:
            type: string
          Telefono:
            type: integer
          Direccion de Envio:
            type: string
    pedido:
      type: object
      properties:
        ID:
          type: integer
        Articulos:
          type: array
          items:
            properties:
              Foto:
                type: string
              Descripcion:
                type: string
              Precio:
                type: integer
              Cantidad:
                type: integer
        Total:
          type: integer
        Estado:
          type: string
        Forma de Pago:
          type: string
        Direccion:
          type: string
        Usuario:
          type: string
        Correo Electronico:
          type: string
        Telefono:
          type: integer
    pedidos:
      type: array
      items:
        properties:
          ID:
            type: integer
          Estado:
            type: string
          Hora:
            type: string
          Numero:
            type: integer
          Descripcion:
            type: string
          Total:
            type: integer
          Usuario:
            type: string
          Direccion:
            type: string
    producto:
      type: object
      properties:
        ID:
          type: integer
        Foto:
          type: string
        Descripcion:
          type: string
        Precio:
          type: integer
    productos:
      type: array
      items:
        properties:
          ID:
            type: integer
          Foto:
            type: string
          Descripcion:
            type: string
          Precio:
            type: integer
    usuarios:
      type: array
      items:
        properties:
          Username:
            type: string
          Nombre:
            type: string
          Apellido:
            type: string
          Correo Electronico:
            type: string
          Telefono:
            type: integer
          Rol:
            type: string

